<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="alert alert-danger fade in">
			<button data-dismiss="alert" class="close">
				×
			</button>
			<i class="fa-fw fa fa-warning"></i>
      拆分待处理物品的<strong>数量</strong>之后，需要手动刷新页面以获取最新的需求物品列表.
		</div>
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->

<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <table id="partspool"></table>
    <div id="partspoolnav"></div>
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->
<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <table>
      <tr>
        <td style="align: center; height: 50px"><a class="btn btn-danger" id="createcaigou"  href="javascript:void(0);"><i class="fa fa-gear"></i> 生成采购单 <i class="fa fa-gear"></i></a></td>
      </tr>
    </table>
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->
<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <table id="partspoolstatis"></table>
    <div id="partspoolstatisnav"></div>
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->

