<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="alert alert-warning fade in">
			<button data-dismiss="alert" class="close">
				×
			</button>
			<i class="fa-fw fa fa-warning"></i>
			清洗所有非正常的需求物品.
		</div>
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->
<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="alert alert-danger fade in">
			<button data-dismiss="alert" class="close">
				×
			</button>
			<i class="fa-fw fa fa-warning"></i>
			需求编辑页未正在保存的需求物品.
		</div>
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->
<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <table id="unpartspool"></table>
    <div id="unpartspoolnav"></div>
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->

