<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="alert alert-danger fade in">
			<button data-dismiss="alert" class="close">
				×
			</button>
			<i class="fa-fw fa fa-warning"></i>
      重要提示: 所有物品采购汇总表分析<br/>
		</div>
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->

<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <table id="paypro_aggretotal_statis"></table>
    <div id="paypro_aggretotal_statisnav"></div>
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->
