<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="alert alert-danger fade in">
			<button data-dismiss="alert" class="close">
				×
			</button>
			<i class="fa-fw fa fa-warning"></i>
      重要提示: 所有物品采购单价分析<br/>（本单价分析主要是分析采购物品，如：运营设备类的服务器、交换机、ATS电源、路由器）。
		</div>
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->

<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <table id="part_trend_statis"></table>
    <div id="part_trend_statisnav"></div>
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->
