<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="alert alert-danger fade in">
			<button data-dismiss="alert" class="close">
				×
			</button>
			<i class="fa-fw fa fa-warning"></i>
      重要提示: 目前的搜索仅支持开始时间与截止时间(采购单创建时间)。<br/>
      待数据充分后再补充。----
		</div>
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->

<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <table id="statis"></table>
    <div id="statisnav"></div>
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->
