<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="alert alert-danger fade in">
			<button data-dismiss="alert" class="close">
				×
			</button>
			<i class="fa-fw fa fa-warning"></i>
      重要提示: 这里展示所有已经审核通过的付款单。<br><strong>组合原则</strong>
      1. 收款方账号相同<br/>
      2. 收款币种相同
		</div>
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->

<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <table id="payprepool"></table>
    <div id="payprepoolnav"></div>
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->


<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <table>
      <tr>
        <td style="align: center; height: 50px"><a class="btn btn-danger" id="addpaypro"  href="javascript:void(0);"><i class="fa fa-gear"></i> 生成支付单 <i class="fa fa-gear"></i></a></td>
      </tr>
    </table>
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->
