<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <table id="statis"></table>
    <div id="statisnav"></div>
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->
