{{attach_library('worksheet/drupal.xunyun-url') }}
<div class="wrap mt1 nav">
<div class="btcont">常用网址</div>
	<ul class="nav_menu clearfix">
		<li><a href="http://43.229.36.3/a" target="_blank">BOSS系统</a></li>
    <li><a href="http://gd.ik.com/" target="_blank">工单系统</a></li>
    <li><a href="http://192.168.0.202:8090" target="_blank">wiki系统</a></li>
    <li><a href="http://pkd.hostspaces.net/roots" target="_blank">HS后台系统</a></li>
    <li><a href="https://qiye.aliyun.com/" target="_blank">阿里企业邮箱</a></li>
    <li><a href="https://exmail.qq.com/cgi-bin/loginpage" target="_blank">腾讯企业邮箱</a></li>
	</ul>
</div>
<div class="fh"></div>
<div class="wrap mt20 nav">
<div class="btcont">CACTI</div>
	<ul class="nav_menu clearfix ">
  <li><a href="http://45.61.249.16/cacti" target="_blank">LA CACTI</a></li>
	<li><a href="http://hkc.ik.com/cacti" target="_blank">HK CACTI</a></li>
	<li><a href="http://192.168.0.6/cacti/graph_view.php" target="_blank">CQ CACTI</a></li>
  <li><a href="http://103.233.254.6/cacti/graph_view.php" target="_blank">SGP CACTI</a></li>
  <li><a href="http://103.101.176.6/cacti/graph_view.php" target="_blank">JP CACTI</a></li>
	</ul>
</div>
<div class="fh"></div>
<div class="wrap mt1 nav">
<div class="btcont">牵引系统</div>
	<ul class="nav_menu clearfix">
		<li><a href="http://lat.ik.com/" target="_blank">LA主用</a></li>
		<li><a href="http://23.234.4.12/" target="_blank">LA备用</a></li>
		<li><a href="http://hkt.ik.com/" target="_blank">HK主用</a></li>
		<li><a href="http://58.84.54.4/" target="_blank">HK备用</a></li>
		<li><a href="http://23.252.174.131" target="_blank">DC主用</a></li>
		<li><a href="http://23.252.174.133" target="_blank">DC备用</a></li>
	</ul>
  <ul class="nav_menu clearfix">
		<li><a href="http://103.101.176.5" target="_blank">JP主用</a></li>
		<li><a href="http://103.233.254.12" target="_blank">SGP主用</a></li>
	</ul>
</div>
<div class="fh"></div>
<div class="wrap mt1 nav">
<div class="btcont">ZABBIX</div>
  <ul class="nav_menu clearfix jishu2">
    <li width='250px'><a href="http://43.230.112.85/zabbix" target="_blank">LA ZABBIX IPMIMONITOR</a></li>
    <li width='250px'><a href="http://192.126.113.129/zabbix/" target="_blank">LA ZABBIX IPMIPINGLOSS</a></li>
    <li width='250px'><a href="http://23.252.174.137/zabbix/" target="_blank">DC ZABBIX IPMIMONITOR</a></li>
    <li width='250px'><a href="http://23.252.174.138/zabbix/" target="_blank">DC ZABBIX IPMIPINGLOSS</a></li>
	</ul> 
	<ul class="nav nav_menu clearfix">
		<li><a href="http://laz.ik.com/zabbix/" target="_blank">LA ZABBIX</a></li>
		<li><a href="http://hkz.ik.com/zabbix/" target="_blank">HK ZABBIX</a></li>
		<li><a href="http://23.252.174.137/zabbix" target="_blank">DC ZABBIX</a></li>
		<li><a href="http://219.153.65.248/zabbix/" target="_blank">CQ ZABBIX</a></li>
    <li><a href="http://211.149.158.149/zabbix/" target="_blank">CD ZABBIX</a></li>    
	</ul>
</div>
<div class="fh"></div>
<div class="wrap mt1 nav">
<div class="btcont">JUMPSERVER</div>
	<ul class="nav_menu clearfix">
	    <li><a href="https://jump.ik.com" target="_blank">LA JUMPSERVER</a></li>
	</ul>
</div>
<div class="fh"></div>
<div class="wrap mt1 nav">
<div class="btcont">防火墙</div>
	<ul class="nav_menu clearfix">
	  <li><a href="http://66.102.250.152:28099/" target="_blank">LA FW152</a></li>
		<li><a href="http://66.102.250.153:28099/" target="_blank">LA FW153</a></li>
		<li><a href="http://66.102.250.154:28099/" target="_blank">LA FW154</a></li>
		<li><a href="http://66.102.250.155:28099/" target="_blank">LA FW155</a></li>
		<li><a href="http://66.102.250.156:28099/" target="_blank">LA FW156</a></li>
    <li><a href="http://66.102.250.157:28099/" target="_blank">LA FW157</a></li>
		<li><a href="http://66.102.250.158:28099/" target="_blank">LA FW158</a></li>
    <li><a href="http://66.102.250.142:28099/" target="_blank">LA FW142</a></li>
    <li><a href="http://66.102.250.143:28099/" target="_blank">LA FW143</a></li>
    <li><a href="http://66.102.250.145:28099/" target="_blank">LA FW145</a></li>
    <li><a href="http://66.102.250.147:28099/" target="_blank">LA FW147</a></li>
    <li><a href="http://172.12.12.213:28099/" target="_blank">LA FW213[CN2]</a></li>
    <li><a href="http://10.19.66.212:28099/" target="_blank">HK FW212</a></li>
    <li><a href="http://10.19.66.213:28099/" target="_blank">HK FW213</a></li>
    <li><a href="http://10.19.66.214:28099/" target="_blank">HK FW214</a></li>
    <li><a href="http://162.212.181.3:10000/" target="_blank">唯盾FW UI</a></li>
    <li><a href="http://162.212.181.3:13579/fwshow" target="_blank">唯盾FW-API</a></li>
	</ul>
</div>

<div class="fh"></div>
<div class="wrap mt1 nav">
<div class="btcont">技术文章</div>
	<ul class="nav_menu clearfix jishu">
		<li width='250px'><a href="http://www.hostspaces.net/wenzhang-detail.php?id=599" target="_blank">可安装操作系统与需要时间说明</a></li>
    <li width="250px"><a href="http://www.hostspaces.net/wenzhang-detail.php?id=615" target="_blank">关于机房服务器二层端口安全隔离说明</a></li>
    <li width="250px"><a href="http://www.hostspaces.net/wenzhang-detail.php?id=616" target="_blank">关于服务器组建内网说明</a></li>
	</ul>
  <ul class="nav_menu clearfix jishu">
    <li width="250px"><a href="http://www.hostspaces.net/article-detail.php?id=332" target="_blank">专人受理派单的工作流程开启</a></li>
    <li width="250px"><a href="http://www.hostspaces.net/article-detail.php?id=254" target="_blank">关于对VPS主机实行安全隔离功能说明</a></li>
    <li width="250px"><a href="http://www.hostspaces.net/article-detail.php?id=251" target="_blank">关于用户联系QQ认证审核通知</a></li>
  </ul>
</div>
<div class="fh"></div>
<div class="wrap mt1 nav">
<div class="btcont">IP查询</div>
	<ul class="nav_menu clearfix">
		<li><a href="http://www.ipip.net/" target="_blank">IPIP</a></li>
    <li><a href="http://www.ip138.com/" target="_blank">IP138</a></li>
	</ul>
</div>
<div class="fh"></div>
<div class="wrap mt1 nav">
<div class="btcont">路由追踪</div>
	<ul class="nav_menu clearfix">
		<li><a href="https://www.17ce.com/" target="_blank">17CE</a></li>
    <li><a href="http://ping.chinaz.com/" target="_blank">站长工具</a></li>
    <li><a href="http://lg.telia.net/" target="_blank">Telia路由追踪</a></li>
    <li><a href="http://www.cogentco.com/en/network/looking-glass" target="_blank">Cogent路由追踪</a></li>
    <li><a href="https://www.host-tracker.com/" target="_blank">Host Tracker</a></li>
	</ul>
</div>
<div class="fh"></div>
<div class="wrap mt1 nav">
<div class="btcont">HK地区</div>
	<ul class="nav_menu clearfix">
		<li><a href="https://customerportal.hkcolo.net/" target="_blank">HKCOLO工单系统</a></li>
    <li><a href="https://ddos.chinatelecomglobal.com" target="_blank">HK电信DDOS系统</a></li>
    <li><a href="https://58.84.52.18/" target="_blank">HK NTA</a></li>
    <li><a href="https://10.19.0.202" target="_blank">HK深信服防火墙</a></li>
    <li><a href="https://10.19.0.201" target="_blank">HK绿盟防火墙</a></li>
	</ul>
</div>
<div class="fh"></div>
<div class="wrap mt1 nav">
<div class="btcont">其它</div>
	<ul class="nav_menu clearfix">
		<li><a href="http://bgp.he.net/" target="_blank">BGP Toolkit</a></li>
    <li><a href="http://219.153.65.249:8989" target="_blank">WCP知识库</a></li>
    <li><a href="http://www.ik.com/" target="_blank">钰峰官网</a></li>
    <li><a href="http://www.hostspaces.net" target="_blank">HS官网</a></li>
    <li><a href="https://ecogent.cogentco.com/" target="_blank">DC Cogent工单系统</a></li>
	</ul>
</div>