.business-table{
  margin:-1px !important;
}
.supplier_info{
  width:300px;
}
.link_id{
  width:100px;
}
.direct_tr{
  background-color: rgba(84, 174, 230, 0.65) !important;
}
.split-table{
  margin-top:50px;
}
.title{
  background-color: #8dcdf5;
}