<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="alert alert-danger fade in">
			<button data-dismiss="alert" class="close">
				×
			</button>
			<i class="fa-fw fa fa-warning"></i>
      重要提示: 一个付款单只能包含一个币种、一个供应商。
		</div>
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->

<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <table id="purchasespool"></table>
    <div id="purchasespoolnav"></div>
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->
<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <table>
      <tr>
        <td style="align: center; height: 50px"><a class="btn btn-danger" id="addfukuan"  href="javascript:void(0);"><i class="fa fa-gear"></i> 生成付款单 <i class="fa fa-gear"></i></a></td>
      </tr>
    </table>
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->
