<div class="row">

  <div class="col-sm-12 col-md-12 col-lg-3">
    <!-- new widget -->
    <div class="jarviswidget jarviswidget-color-blueDark">
      <header>
        <h2> 添加事件 </h2>
      </header>

      <!-- widget div-->
      <div>

        <div class="widget-body">
          <!-- content goes here -->

          <form id="add-event-form">
            <fieldset>

              <div class="form-group">
                <label>选择事件类型图标</label>
                <div class="btn-group btn-group-sm btn-group-justified" data-toggle="buttons">
                  <label class="btn btn-default active">
                    <input type="radio" name="iconselect" id="icon-1" value="fa-info" checked>
                    <i class="fa fa-info text-muted"></i> </label>
                  <label class="btn btn-default">
                    <input type="radio" name="iconselect" id="icon-2" value="fa-warning">
                    <i class="fa fa-warning text-muted"></i> </label>
                  <label class="btn btn-default">
                    <input type="radio" name="iconselect" id="icon-3" value="fa-check">
                    <i class="fa fa-check text-muted"></i> </label>
                  <label class="btn btn-default">
                    <input type="radio" name="iconselect" id="icon-4" value="fa-user">
                    <i class="fa fa-user text-muted"></i> </label>
                  <label class="btn btn-default">
                    <input type="radio" name="iconselect" id="icon-5" value="fa-lock">
                    <i class="fa fa-lock text-muted"></i> </label>
                  <label class="btn btn-default">
                    <input type="radio" name="iconselect" id="icon-6" value="fa-clock-o">
                    <i class="fa fa-clock-o text-muted"></i> </label>
                </div>
              </div>

              <div class="form-group">
                <label>姓名</label>
                <input class="form-control"  id="title" name="title" maxlength="40" type="text" placeholder="姓名">
              </div>
              <div class="form-group">
                <label>描述</label>
                <textarea class="form-control" placeholder="Please be brief" rows="3" maxlength="40" id="description"></textarea>
                <p class="note">最长字符长度40个</p>
              </div>

              <div class="form-group">
                <label>选择事件颜色</label>
                <div class="btn-group btn-group-justified btn-select-tick" data-toggle="buttons">
                  <label class="btn bg-color-darken active">
                    <input type="radio" name="priority" id="option1" value="bg-color-darken txt-color-white" checked>
                    <i class="fa fa-check txt-color-white"></i> </label>
                  <label class="btn bg-color-blue">
                    <input type="radio" name="priority" id="option2" value="bg-color-blue txt-color-white">
                    <i class="fa fa-check txt-color-white"></i> </label>
                  <label class="btn bg-color-orange">
                    <input type="radio" name="priority" id="option3" value="bg-color-orange txt-color-white">
                    <i class="fa fa-check txt-color-white"></i> </label>
                  <label class="btn bg-color-greenLight">
                    <input type="radio" name="priority" id="option4" value="bg-color-greenLight txt-color-white">
                    <i class="fa fa-check txt-color-white"></i> </label>
                  <label class="btn bg-color-blueLight">
                    <input type="radio" name="priority" id="option5" value="bg-color-blueLight txt-color-white">
                    <i class="fa fa-check txt-color-white"></i> </label>
                  <label class="btn bg-color-red">
                    <input type="radio" name="priority" id="option6" value="bg-color-red txt-color-white">
                    <i class="fa fa-check txt-color-white"></i> </label>
                </div>
              </div>

            </fieldset>
            <div class="form-actions">
              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-default" type="button" id="add-event" >
                    添加事件
                  </button>
                </div>
              </div>
            </div>
          </form>

          <!-- end content -->
        </div>

      </div>
      <!-- end widget div -->
    </div>
    <!-- end widget -->

    <div class="well well-sm" id="event-container">
      <form>
        <fieldset>
          <legend>
            拖动事件
          </legend>
          <ul id='external-events' class="list-unstyled">
            <!--
            <li>
              <span class="bg-color-darken txt-color-white" data-description="办公室会议" data-icon="fa-time">办公室会议</span>
            </li>-->

          </ul>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="drop-remove" class="checkbox style-0" checked="checked">
              <span>拖动后移除</span> </label>
          </div>
        </fieldset>
      </form>

    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-9">

    <!-- new widget -->
    <div class="jarviswidget jarviswidget-color-blueDark">

      <!-- widget options:
      usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

      data-widget-colorbutton="false"
      data-widget-editbutton="false"
      data-widget-togglebutton="false"
      data-widget-deletebutton="false"
      data-widget-fullscreenbutton="false"
      data-widget-custombutton="false"
      data-widget-collapsed="true"
      data-widget-sortable="false"

      -->
      <header>
        <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
        <h2> 我的日程表 </h2>
        <div class="widget-toolbar">
          <!-- add: non-hidden - to disable auto hide -->
          <div class="btn-group">
            <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
              Showing <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu js-status-update pull-right">
              <li>
                <a href="javascript:void(0);" id="mt">月</a>
              </li>
              <li>
                <a href="javascript:void(0);" id="ag">周</a>
              </li>
              <li>
                <a href="javascript:void(0);" id="td">今天</a>
              </li>
            </ul>
          </div>
        </div>
      </header>

      <!-- widget div-->
      <div>

        <div class="widget-body no-padding">
          <!-- content goes here -->
          <div class="widget-body-toolbar">
            <div id="calendar-buttons">

              <div class="btn-group">
                <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-prev"><i class="fa fa-chevron-left"></i></a>
                <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-next"><i class="fa fa-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div id="calendar"></div>

          <!-- end content -->
        </div>

      </div>
      <!-- end widget div -->
    </div>
    <!-- end widget -->

  </div>

</div>

<!-- end row -->

